{
    "presets": [
        [
            "@babel/preset-env", {
                "target": {
                    "chrome": "58",
                    "ie": "11"
                },
                "corejs": "3",
                "useBuiltIns": "usage"
            }
        ]
    ]
}